# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.log
.venv/
env/
venv/
.pytest_cache/
.mypy_cache/
.coverage

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Datos locales
data/*.db
app/ml/model.pkl